body {
  display: flex;
  margin: 0;
  height: 100vh;
}
#editor, #preview {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}
#editor {
  border-right: 1px solid #ccc;
}
textarea {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  outline: none;
}
#preview {
  overflow-y: scroll;
}
